#version=RHEL7
# System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens160 --onboot=off --ipv6=auto
network  --hostname=localhost.localdomain
# Root password
rootpw --iscrypted $6$ZJm/qhBEuasOFXL/$eF6RknAQKhcpxYT18GRLVpKRpl8.p9S5SQJVijdlHz7T1CfRpu4ljR.JVwRed1Na6cAAO3uRZZBNRYPC2V2bp1
# System timezone
timezone Etc/UTC --isUtc --nontp
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
# Partition clearing information
clearpart  --initlabel --list=sda2,sda1
# Disk partitioning information
part /boot --fstype="xfs" --ondisk=sda --size=572
part pv.715 --fstype="lvmpv" --ondisk=sda --size=53116
volgroup centos --pesize=4096 pv.715
logvol swap  --fstype="swap" --size=1907 --name=swap --vgname=centos
logvol /  --fstype="xfs" --size=51200 --name=root00 --vgname=centos

%packages
@core

%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end
